@import "../../common/styles/variables.module.scss";

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 23px;
    width: 100%;
    padding: 24px 32px;
    position: relative;
    min-height: calc(100vh - 170px);
}