@import "../../../common/styles/variables.module.scss";

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &.isLoading {
        align-items: center;
        justify-content: center;
    }
}