@import "../../../common/styles/variables.module.scss";

.container {
    padding: 24px;
    background-color: $light-background;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.posterImage {
    border-radius: 8px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}

.title {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    width: fit-content;
}

.genre {
    font-size: 16px;
    font-style: italic;
    line-height: 20px;
}